@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

*, *::after, *:default{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-color: #f7fee7;
    --sidebar-color: #84cc16;
    --main-color: #ebf1e0;
    --color-primary: #ffffff;
    --color-black: #000000;
    --color-secondary-1: #bef264;
    --color-secondary-2: #a3e635;
    --color-secondary-3: #65a30d;
    --color-secondary-4: #4d7c0f;
    --color-secondary-5: #365314;

    --trans-02: all .2s ease;
    --trans-03: all .3s ease;
    --trans-04: all .4s ease;
    --trans-05: all .5s ease;
}
.material-icons{
    color: black;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: clamp(13%, 1800px, 20%) 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    font-family: 'Josefin Sans', sans-serif;
}

.header{
    background-color: var(--header-color);
    grid-area: header;
}

.sidebar{
    background-color: var(--sidebar-color);
    grid-area: sidebar;   
    color: black;
    padding: 1.5rem;
    header{
        position: relative;
    }
    li{
        height: 50px;
        list-style: none;
        margin-top: 10px;
        display: flex;
        align-items: center;
        .icon{
            min-width: 40px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a{
            text-decoration: none;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 6px;
            transform: var(--trans-04);
            &:hover{
                background-color: var(--main-color);
            }
        }
        
    }
    .text{
        color: var(--color-black);
        font-size: 20px;
    }
    .logo-img{
        display: flex;
        align-items: center;
    }
    .arrow{
        position: absolute;
        top: 50%;
        right: -38px;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #f7fee7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }
    .search-box{
        background-color: var(--main-color);
        border-radius: 6px;
        input{
            background-color: var(--main-color);
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 6px;
        }
    }
    
}


.main{
    background-color: var(--main-color);
    grid-area: main;
    padding: 20px;
    gap: 20px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    .projects{
        grid-column: 1/2;
        grid-row: 1/3;
        .balls{
            margin-bottom: 20px;
        }
        .projects-card-holder{
            background-color: aqua;
            display: grid;
            grid-auto-rows: 210px;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 20px;
            .card{
                background-color: yellow;
                gap: 20px;
                padding: 25px;
            }
        }
    }
    .mini-card-holder{
        display: grid;
        grid-template-rows: min-content min-content;
        gap: 20px;
        .top{
        // grid-column: 2/3;
        // grid-row: 1/2;
        background-color: rebeccapurple;
        // height: fit-content;
        padding: 15px;
         width: 250px;
    }
    .bottom{
        // grid-column: 2/3;
        // grid-row: 2/3;
        background-color: aqua;
        // height: min-content;
        padding: 15px;
        width: 250px;
        // width: 300px
    }
    }
}
