*, *::after, *:default{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: clamp(15%, 80px, 50%) 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

header{
    background-color: whitesmoke;
    grid-area: header;
}

.sidebar{
    background-color: black;
    grid-area: sidebar;   
}

.main{
    background-color: #c3c5ca;
    grid-area: main;
    padding: 20px;
    gap: 20px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects advertising"
    "projects announcements"
    "projects trending";
    .card-holder{
        grid-area: projects;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        .card{
            background-color: red;
        }
    }

    .main-right-side-bar{
        grid-area: announcements;
        .side-bar{
            background-color: red;
            padding: 20px;
        }
    }
    .main-below-side-bar{
        grid-area: advertising;
        .side-card1{
            background-color: aqua;
            padding: 20px;
            margin-top: 20;
        }
    }
}