*, *::after, *:default{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: clamp(15%, 80px, 50%) 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

header{
    background-color: whitesmoke;
    grid-area: header;
}

.sidebar{
    background-color: black;
    grid-area: sidebar;   
}

.main{
    background-color: #c3c5ca;
    grid-area: main;
    padding: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    .card-holder{
        background-color: black;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
        .card{
            background-color: yellow;
        }
    }
    .main-right-side-bar{
        background-color: yellow;
    }
}

